<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-title>{{ movie?.title }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/movies"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card *ngIf="movie">
    <img alt="{{ movie.title }}" [src]="imageUrl + 'w780' + movie.poster_path" />
  </ion-card>
  <ion-card>
    <ion-card-header *ngIf="movie">
      <ion-card-title>{{ movie.title }}</ion-card-title>
      <ion-card-subtitle>{{ movie.tagline }}</ion-card-subtitle>
      <ion-text color="primary">
        <span *ngFor="let g of movie.genres; let isLast = last">
          {{ g.name }} {{ !isLast ? "-" : "" }}
        </span>
      </ion-text>
    </ion-card-header>
    <ion-card-content *ngIf="movie" color="medium">
      <ion-label>{{ movie.overview }}</ion-label>
    </ion-card-content>

  </ion-card>
</ion-content>