.language-modal ion-content {
    background: transparent;
  }
  
  .language-modal ion-list {
    margin-top: 20%;
    background-color: white;
    border-radius: 10px;
  }
  
  .language-modal ion-item {
    --color: black;
  }
  