<ion-header>
  <ion-toolbar>
    <ion-title>Choisir une Langue</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Fermer</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="centered-content">
    <ion-list>
      <ion-item button (click)="openLanguageModal()">
        <ion-label>Choisir une Langue</ion-label>
      </ion-item>
    </ion-list>
  </div>
  <ion-list>
    <ion-item button (click)="setLanguage('en')">
      <ion-label>English</ion-label>
    </ion-item>
    <ion-item button (click)="setLanguage('fr')">
      <ion-label>Français</ion-label>
    </ion-item>
  </ion-list>
</ion-content>