.background {
  --background: #000; /* Couleur de fond de l'application */
}

.movies-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

ion-card {
  margin: 10px;
  width: calc(50% - 20px); /* Réglez la largeur de la carte selon vos besoins */
  max-width: 300px; /* Réglez la largeur maximale de la carte selon vos besoins */
  background-color: #333; /* Couleur de fond de la carte */
}

.movie-poster {
  width: 100%;
  height: auto;
  border-bottom: 2px solid #fff; /* Bordure inférieure de l'affiche */
}

.movie-header {
  padding: 10px;
}

.movie-title {
  font-size: 1.2em;
  font-weight: bold;
  color: #fff; /* Couleur du titre du film */
}

.movie-info {
  font-style: italic;
  color: #ccc; /* Couleur des informations sur le film */
}
