.custom-image {
    width: 100%;
    height: 50vh;
  }

.movie-title {
font-size: 1.2em;
font-weight: bold;
color: #333; /* Couleur de titre personnalisée */
}

.release-date {
font-style: italic;
color: #666; /* Couleur de la date de sortie personnalisée */
}

.vote-average {
font-size: 0.9em;
color: #888; /* Couleur de la moyenne des votes personnalisée */
}
  